<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Indugevi certificados</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link href="{{url_for('static',filename='img/favicon.png')}}" rel="icon" />
    <link href="{{url_for('static',filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet" />

    <!-- Bootstrap CSS File -->

    <link rel="stylesheet" href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css' )}}" />

    <!-- Libraries CSS Files -->

    <link rel="stylesheet" href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css' )}}" />

    <!-- Main Stylesheet File -->

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css' )}}" />

    <!-- =======================================================
    Template Name: Flatty
    Template URL: https://templatemag.com/flatty-bootstrap-app-landing-page-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">


                <div class="navbar-header">
                    <a class="navbar-brand" href="#"> <b>Concepto legal</b> </a>
                </div>



                <div class="navbar-header">
                    <a class="navbar-brand" href="/login_admin"> <b>Administrador</b> </a>
                </div>


                <!--/.nav-collapse -->





            </div>



        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="p-5">
                        <h1>
                            Consulta y descarga<br /> tus certificados.
                        </h1>
                        <br>
                    </div>
                    <form class="form-inline" role="form" action="/user" method="post">
                        <div class="">
                            <input type="email" class="form-control" name="email" placeholder="Ingresa tu email" value="{{email}}" />
                        </div>

                        <small class="text-danger">{{error_email}}</small>
                        <br />

                        <div class="">
                            <input type="password" class="form-control" name="pin" placeholder="Ingresa tu PIN" value="{{pin}}" />
                        </div>

                        <small class="text-danger">{{error_pin}}</small>
                        <br />
                        <div>
                            <button type="submit" class="btn btn-warning btn-lg">Entrar!</button>
                        </div>
                    </form>
                    <br>
                    <div class="text-danger"><small>{{error_user}}</small></div>
                </div>
                <!-- /col-lg-6 -->
                <div class="col-lg-6">

                    <img src="/static/img/fond.jpg" alt="" width="120%">



                </div>
                <!-- /col-lg-6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->

    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="centered">Solicita tus certificados</h2>
                    <form class="contact-form php-mail-form" action="/solicitud" method="post">
                        <div class="form-group">
                            <input type="name" name="nombre" class="form-control" id="contact-name" placeholder="Tu nombre o el de tu empresa" required="True" />
                            <div class="invalid-feedback">

                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email_send" class="form-control" id="contact-email" placeholder="Tu Email" data-rule="email" data-msg="Please enter a valid email" required="True" />

                            <div class="invalid-feedback">

                            </div>
                            <!-- TODO: This is for server side, there is another version for browser defaults -->
                        </div>
                        <div class="form-group">
                            <input type="text" name="documento" class="form-control" id="contact-subject" placeholder="Documento o NIT" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" required="True" />
                            <div class="invalid-feedback">

                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="mensaje" id="contact-message" placeholder="Dejanos tu mensaje (Opcional)" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>

                            <small>Enviaremos un PIN de acceso a tu correo una vez validemos los datos!</small>

                        </div>
                        <div>
                            <small class="text-danger">{{error_send}}</small>
                        </div>


                        <div class="form-send">
                            <button type="submit" class="btn btn-large">Envia mensaje</button>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- / contact -->

    <div id="copyrights">
        <div class="container">
            <p>&copy; Copyrights <strong>Flatty</strong>. All Rights Reserved</p>
            <div class="credits">
                <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/flatty-bootstrap-app-landing-page-template/
          Licensing information: https://templatemag.com/license/
        -->
                Created with Flatty template by
                <a href="https://templatemag.com/">TemplateMag</a>
            </div>
        </div>
    </div>
    <!-- / copyrights -->

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/php-mail-form/validate.js"></script>
    <script src="lib/easing/easing.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
</body>

</html>