<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Indugevi certificados</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link href="{{url_for('static',filename='img/favicon.png')}}" rel="icon" />
    <link href="{{url_for('static',filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet" />

    <!-- Bootstrap CSS File -->

    <link rel="stylesheet" href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css' )}}" />

    <!-- Libraries CSS Files -->

    <link rel="stylesheet" href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css' )}}" />

    <!-- Main Stylesheet File -->

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css' )}}" />

</head>

<body>
    <!-- Nav tabs -->

</body>

</html>